streamlit
python-dotenv
PyPDF2
nltk
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0.tar.gz
thinc
numpy
pandas
base64io
pyresparser
dateparser
pdfminer.six
streamlit-tags
Pillow
pymysql
plotly
google-generativeai
youtube_dl
pafy
youtube-search-python
